*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  .parent {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50; /* Dark background color */
  }
  
  form {
    width: 350px;
    border: 1px solid #3498db;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #34495e; /* Darker form background color */
    color: #ecf0f1; /* Light text color */
    transition: background-color 0.3s ease;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #3498db;
  }
  
  input {
    outline: none;
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #3498db;
    border-radius: 3px;
    background-color: #2c3e50; /* Dark input background color */
    color: #ecf0f1; /* Light text color */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  input:hover {
    background-color: #34495e;
    color: #3498db; 
  }
  
  p {
    color: #e74c3c;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  input[type="submit"] {
    background-color: #27ae60;
    width: 100%;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #219d54;
  }
  #success{
    color: lightgreen;
  }